@import 'grid';
@import '_common';

/* defaults */

a {text-decoration: none;}

.title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}

/* buttons */
.btn {
    background-color: transparent; /* Green */
    border: 1px solid $orange;
    color: $orange;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover {
        background: $orange;
        color: $white;
    }
}

/* sticky footer */
.body-content {
    position: relative;
    min-height: calc(100vh - 50px); 
}


.box {
    padding: 20px;
    margin-top: 40px;
    label, input {
        display: block; 
        width: 100%;
    }

    input {
        padding: 7px;
        margin-top: 5px;
        border: 1px solid $lblack;
    }

    label {
        margin-top: 20px;
    }

    a {
        margin-top: 20px;
    }
} 

* {box-sizing: border-box;}